<section class="shortener-container">
    <!-- <section *ngFor="let item in results">
        <div class="urlbox">
            <p>{{item.LongUrl}}</p>
            <p>{{item.ShortUrl}}</p>
            <button>Copy</button>
        </div>
    </section> -->
   
    <div class="text-box">
        <article class="header">
            <h2>Advanced Statistics</h2>
            <p>Track how your links are performing across the web with our advanced statistics dashboard.</p>
        </article>

    </div>
    
    <article class="home-card">
        <hr class="my-hr">
        <app-card [imageUrl]="'assets/Images/br.svg'"></app-card>
        <app-card [imageUrl]="'assets/Images/br.svg'" style="transform: translateY(10%);"></app-card>
        <app-card [imageUrl]="'assets/Images/br.svg'" style="transform: translateY(20%);"></app-card>
    </article>



</section>