:host {width: 100%;
    margin: 5px 0px 0px 100px;
    
}

main{
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.details-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .text-container {
        width: 50%;
        display: flex;
        gap: 10px;
        flex-direction: column;
        align-items: flex-start;
        h1 {
            color: var(--Dark-Violet);
            font-family: 'Poppins Bold';
            font-size: 64px;
        }
        p {
            color: var(--Grayish_Violet);
            
        }
        button {
            border: none;
            color: #fff;
            background-color: var(--Cyan);
            border-radius: 30px;
            padding: 6px 14px;
            font-size: 18px;
            cursor: pointer;
            transition: all 1s ease;
        }
        button:hover{
            background-color: var(--Cyan-hover);
            transform: scale(1);
        }

    }

    .img-container {

        width: 50%;
        img{
            height: 80%;
        }

    }

}
